<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Transformation von REST nach GraphQL</h1>

<!--- nach dem Änderungen wieder auf .ejs wechseln damit die View angezeigt wird
-->
  <form action="/transformation" method="post" enctype="multipart/form-data">
    <input type="file" id="openapifile" name="openapifile">
    <input type="submit">
  </form>
  
</body>
</html>